{% extends 'layout.html' %}
{% block title %}todolist home{% endblock %}
{% block contents %}
<h1>todolist home</h1>
<br>
{% if user %}
<p>Hello, {{user.username}} rank: {{user.rank}}</p>
<br>
<a href="{{ url_for('auth.logout') }}">logout</a>
{% endif %}
<p>this is my awesome todolist home</p>
<br>
<a href="{{ url_for('orders.home') }}">orders</a>
<br>
<a href="{{ url_for('orderDetails.home') }}">order details</a>
<br>
<br>


{% for userItem in userList %}
<a href="{{ url_for('todolist.tasklist', userId=userItem.id) }}">{{ userItem.username }}</a><br>
{% endfor %}

{% endblock %}